
body {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}
.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
  text-align: center;
  float: right;
}

.user-name {
  line-height: 50px;
  padding: 0;
  margin-top: -5px;
  padding-right: 15px;
}

.nav.navbar-right {
  margin-top: 5px;
  text-align: right;

  li {

    .btn {
      color: #fff !important;

      &-danger {

        &:visited {
          color: #fff !important;
        }

        &:hover {
          background-color: darken(#d9534f, 20%) !important;
        }
      }
    }
  }
}


.btn {
  &:visited {
    color: #fff !important;
  }
}

.plan-column {
  text-align: center;

  h2 {
    margin-bottom: 2em;
  }

  &:first-child {
    border-right: 1px #eaeaea solid;
  }
}

.benefit {
  margin-bottom: 1em;
}

.no-left-padding {
  padding-left: 0 !important;
}

#credit-card {
  margin-bottom: 1em;
  border-top: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
  padding: 1em;
}
